<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink='/dashboard'>Financial Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="nav-link" routerLink='/dad'>Dad</a>
            <a class="nav-link" routerLink='/saving'>Saving</a>
            <a class="nav-link" routerLink='/expenses'>Expenses</a>
            <a class="nav-link" routerLink="/debt">Debt</a>
            <a class="nav-link" routerLink='/fun'>Fun</a>
            <a class="nav-link" routerLink='/kill-debt'>Kill Debt</a>
            <a class="nav-link" routerLink='/shopping'>Shopping</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/paycheck">Paycheck</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink='/login'>Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink='/'>Signup</a>
        </li>
      </ul>
    </div>
  </nav>